.Title { text-align: center; margin: auto; }

.Hidden { display: none; }
.Flex { display: flex; }

.Container { width: 700px; margin: auto; border: solid 1px; }
.Container.Borderless { border: none; }

.Container#container-login { margin-top: 50px; width: 400px; }


    .Chatbox { height: 400px; padding-bottom: 5px; overflow: hidden; overflow-y: scroll; font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
        .Chattext { margin: 0; margin-left: 5px; margin-top: 5px; padding: 0; font-weight: bold; }
            .Red { color: red; }
            .Blue { color: blue; }
            .Green { color: green; }
            .Yellow { color: #DAE500; }
            .Orange { color: orange; }
            .Purple { color: purple; }
            .Black { color: black; font-weight: normal; }

    .Messenger { display: flex; flex-direction: row; border-top: solid 1px; border-left: solid 1px; margin-left: -1px; }

        input { flex-grow: 1; border: none; font-size: 16px; padding: 8px; }
        input[name="login"] { border-bottom: solid 1px; }

        button { width: 100px; border: none; border-left: solid 1px; background-color: white; }
        button[name="login"] { border: solid 1px; }
        button:hover { background-color: grey; cursor: pointer; }
        button:active { background-color: lightgray; }